<a href="https://colab.research.google.com/github/Bearodriguez2022/FastApi_PI1/blob/master/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Ingesta de datos:

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
amazon = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/amazon_prime_titles.csv')

In [4]:
amazon['duration'].isna().sum()

0

La columna duration se divide en 'duration_int', 'duration_type':

In [5]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', expand=True)

In [6]:
amazon['duration_int'].dtype

dtype('O')

Las nuevas columnas son de tipo 'objet', las cambio a 'int32' y 'str' respectivamente

In [7]:
amazon['duration_int'] = amazon['duration_int'].astype('int32')

In [8]:
amazon['duration_type'] = amazon['duration_type'].astype('str')

Repito los pasos de ingesta de datos, división de columna 'duration' y transformación de datos 'o' a 'int' y 'str' en cada uno de los archivos de plataformas

In [9]:
disney = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/disney_plus_titles.csv')

In [11]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [12]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', expand=True)

In [13]:
disney['duration_int'] = disney['duration_int'].astype('int32')

In [14]:
disney['duration_type'] = disney['duration_type'].astype('str')

In [15]:
hulu = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/hulu_titles.csv')

In [16]:
hulu.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [17]:
hulu.fillna(0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,0,0.0,0,"October 24, 2021",2021,TV-MA,0,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,0,0.0,0,"October 23, 2021",2020,0,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,0,0.0,0,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,0,0.0,0,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,0,0.0,0,"October 22, 2021",2021,0,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,0,0.0,United States,0,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,0,0.0,United States,0,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,0,0.0,United Kingdom,0,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,0,0.0,United States,0,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,0,0.0,Japan,0,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [18]:
hulu[['duration_int', 'duration_type']] =hulu['duration'].str.split(' ', expand=True)

In [19]:
hulu['duration_int'] = hulu['duration_int'].astype('Int32')

In [20]:
hulu['duration_type'] = hulu['duration_type'].astype('str')

In [21]:
netflix = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/netflix_titles.csv')

In [22]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [23]:
netflix['duration'] =netflix['duration'].dropna()

In [24]:
netflix[['duration_int', 'duration_type']] =netflix['duration'].str.split(' ', expand=True)

In [25]:
netflix['duration_int'] =netflix['duration_int'].fillna(0).astype('int32')

In [26]:
netflix['duration_type'] = netflix['duration_type'].astype('str')

Antes de concatenar los df concidero poner el nombre a cada plataforma para una mejor identificación

In [27]:
amazon['plataforma'] = 'amazon'
disney['plataforma'] = 'disney'
hulu['plataforma'] = 'hulu'
netflix['plataforma'] = 'netflix'

Consignas a cumplir:
*Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [28]:
amazon['id'] = 'a' + amazon['show_id']
disney['id'] = 'd' + disney['show_id']
hulu['id'] = 'h' + hulu['show_id']
netflix['id'] = 'n' + netflix['show_id']

Ahora concateno los df para poder trabajar con ellos de forma mas práctica

In [29]:
streaming = pd.concat([amazon, disney, hulu,netflix])

*Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)

In [30]:
streaming['rating'] = streaming['rating'].fillna('G')

*De haber fechas, deberán tener el formato AAAA-mm-dd

In [31]:
streaming['date_added'] = pd.to_datetime(streaming['date_added'])

*Los campos de texto deberán estar en minúsculas, sin excepciones

In [32]:
streaming = streaming.apply(lambda x: x.astype(str).str.lower() if x.dtype == 'object' else x)

*El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas).Este paso lo realice en cada df por separado.

In [33]:
streaming.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'plataforma', 'id'],
      dtype='object')

In [34]:
#aca convierto a csv 
streaming.to_csv('datos.csv', sep=',', encoding='utf-8', index=False)

Aqui concateno rating

In [35]:
r_1 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/1.csv') 
r_2 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/2.csv')
r_3 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/3.csv')
r_4 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/4.csv')
r_5 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/5.csv')
r_6 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/6.csv')
r_7 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/7.csv')
r_8 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/8.csv')

In [36]:
r_1.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [37]:
score = pd.concat([r_1,r_2,r_3,r_4,r_5,r_6,r_7,r_8])

Aca convierto la columna timestamp a formato AAAA-mm-dd

In [38]:
score['timestamp'] = pd.to_datetime(score['timestamp'])

In [39]:
# convertir la columna de timestamp a un objeto datetime
score['timestamp'] = pd.to_datetime(score['timestamp'])

# extraer solo la marca_temporal de la columna de timestamp
score['marca_temporal'] = score['timestamp'].dt.date

# convertir la marca_temporal de vuelta a una cadena de texto con el formato deseado
score['marca_temporal'] = score['marca_temporal'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [40]:
score.head(2)

   userId  rating                     timestamp movieId marca_temporal
0       1     1.0 1970-01-01 00:00:01.425941529   as680     1970-01-01
1       1     4.5 1970-01-01 00:00:01.425942435  ns2186     1970-01-01

In [41]:
#considero no la voy a necesitar
score = score.drop(columns=['timestamp'])

saco promedio por id para que queden la misma cantidad de filas que en el df streaming

In [42]:
prome = score.groupby('movieId')['rating'].mean()

prome

movieId
as1       3.467131
as10      3.439571
as100     3.609302
as1000    3.556701
as1001    3.585288
            ...
ns995     3.515625
ns996     3.626518
ns997     3.530526
ns998     3.582645
ns999     3.494781
Name: rating, Length: 22998, dtype: float64

In [43]:
#aca verifico si los valores son correctos para concatenar, y el resultado es si
comparacion = score['movieId'].isin(streaming['id'])
comparacion.unique()

array([ True])

In [44]:
#unimos streaming y promedio por pelicula
df1 = pd.merge(streaming, prome, left_on='id', right_on='movieId', how='left')

In [45]:
df1.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating_x,duration,listed_in,description,duration_int,duration_type,plataforma,id,rating_y
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,as1,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,as2,3.548682

In [46]:
df1.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating_x', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'plataforma', 'id', 'rating_y'],
      dtype='object')

In [47]:
#aca renombro las columnas porque quiero esten en castellano solo deje las de duration
df1 = df1.rename(columns={'rating_x':'clasificacion','NuevoId':'nuevoid','rating_y':'puntuacion','type':'tipo','title':'titulo','cast':'elenco','country':'pais','date_added':'fecha_agregada','release_year':'año_realiacion','duration':'duracion','listed_in':'genero','description':'descripcion'})

In [48]:
df1.head(2)

,show_id,tipo,titulo,director,elenco,pais,fecha_agregada,año_realiacion,clasificacion,duracion,genero,descripcion,duration_int,duration_type,plataforma,id,puntuacion
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,as1,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,as2,3.548682

In [49]:
df1.to_csv('df1.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
#para guardar los archivos en la compu
from google.colab import files
files.download('df1.csv')

Desarrolo de la FASTAPI
  
  1)Película (sólo película, no serie, etc) con mayor duración según año, plataforma y tipo de duración. La función debe llamarse get_max_duration(year, platform, duration_type) y debe devolver sólo el string del nombre de la película.

  primero cree las funciones en colab para probarlas y luego pasarlas a Fastapi.

In [51]:
df1 = pd.read_csv('/content/df1.csv')

In [52]:
df1.head(2)

,show_id,tipo,titulo,director,elenco,pais,fecha_agregada,año_realiacion,clasificacion,duracion,genero,descripcion,duration_int,duration_type,plataforma,id,puntuacion
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min,amazon,as1,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,amazon,as2,3.548682

In [55]:
if "coco" in df1["titulo"].values:
    print("La pelicula 'coco' existe en las plataformas .")
else:
    print("La pelicula 'coco' no existe en las plataformas.")

La pelicula 'coco' existe en las plataformas .

In [56]:
def get_max_duration(year, platform, duration_type):
    # Filtramos las películas del año, plataforma y tipo de duración específicos
    filtered_df = df1[(df1['tipo'] == 'movie') & (df1['año_realiacion'] == year) & 
                            (df1['plataforma'] == platform) & (df1['duration_type'] == duration_type)]
    
    # Ordenamos por duración de mayor a menor y seleccionamos el primer título (el de mayor duración)
    max_duration_movie = filtered_df.sort_values(by='duration_int', ascending=False).iloc[0]['titulo']
    return max_duration_movie

In [57]:
get_max_duration(2014,'netflix','min')

'the gospel of matthew'

2)Cantidad de películas (sólo películas, no series, etc) según plataforma, con un puntaje mayor a XX en determinado año. La función debe llamarse get_score_count(platform, scored, year) y debe devolver un int, con el total de películas que cumplen lo solicitado.

In [58]:
def get_score_count(platform, scored, year):
    # filtrar las películas según plataforma, puntaje y año
    pelis_por_puntaje = df1[(df1["plataforma"] == platform) & (df1["puntuacion"] >= scored) & (df1["tipo"] == "movie") & (df1["año_realiacion"] == year)]
    
    # contar la cantidad de películas
    count = len(pelis_por_puntaje)
    
    return count

In [59]:
count = get_score_count("netflix", 3.55, 2014)
print(count)

101

3)Cantidad de películas (sólo películas, no series, etc) según plataforma. La función debe llamarse get_count_platform(platform) y debe devolver un int, con el número total de películas de esa plataforma. Las plataformas deben llamarse amazon, netflix, hulu, disney.

In [60]:
def get_count_platform(platform):
    # Filtrar solo películas
    df_movies = df1.loc[df1['tipo'] == 'movie']

    # Filtrar por plataforma
    df_filtered = df_movies.query("plataforma == @platform")

    # Contar el número de películas resultantes
    count = len(df_filtered)

    return count

In [61]:
count = get_count_platform('amazon')
count

7814

4)Actor que más se repite según plataforma y año. La función debe llamarse get_actor(platform, year) y debe devolver sólo el string con el nombre del actor que más se repite según la plataforma y el año dado.

In [62]:
def get_actor(platform: str, year: int):
    platforms = ["amazon", "disney", "hulu", "netflix"]
    if platform not in platforms:
        return ("Plataforma incorrecta! Debe ingresar una de las siguientes: amazon, disney, hulu, netflix")
    # Verificar que el año esté dentro del rango válido
    if year is not None and year < 1916:
        raise ValueError("El año debe de ser mayor a 1920")
    # Filtrar las películas para la plataforma y año especificado
    df_filtered = df1[(df1.plataforma == platform) & (df1.año_realiacion == year)]
         # Poner el cast en un array para poder hacer el recorrido
    df_cast_filtered= df_filtered.assign(actor=df_filtered.elenco.str.split(',')).explode('elenco')
    # Contar la cantidad de apariciones de cada actor
    actor_count = df_cast_filtered.elenco.value_counts()
    # Obtener el actor que más se repite y su cantidad de apariciones
    max_actor = actor_count.index[0]
    max_count = int(actor_count.iloc[0])
    actor = dict({'actor': max_actor, 'count': max_count})

    return actor

In [65]:
g = get_actor('disney',2016)
g

{'actor': 'chris diamantopoulos, tony anselmo, tress macneille, bill farmer, russi taylor, corey burton',
 'count': 1}

5)La cantidad de contenidos/productos (todo lo disponible en streaming) que se publicó por país y año. La función debe llamarse prod_per_county(tipo,pais,anio) deberia devolver la cantidada de contenidos/productos segun el tipo de contenido (pelicula,serie) por pais y año en un diccionario con las variables llamadas 'pais' (nombre del pais), 'anio' (año), 'pelicula' (cantidad de contenidos/productos).

In [66]:
#este funciono api
def prodper_country(tipo, pais, anio):
    # Leer el DataFrame
    #df1 = pd.read_csv('nombre_del_archivo.csv') # reemplazar por el nombre del archivo
    
    # Filtrar por tipo, país y año
    df_filt = df1[(df1['tipo'] == tipo) & (df1['pais'] == pais) & (df1['año_realiacion'] == anio)]
    
    # Contar la cantidad de productos
    num_prods = len(df_filt)
    
    # Crear un diccionario con el resultado
    resultado = {'pais': pais, 'anio': anio, 'pelicula': num_prods} 
    return resultado

In [68]:
prodper_country('movie','canada',2014)

{'pais': 'canada', 'anio': 2014, 'pelicula': 10}

6)La cantidad total de contenidos/productos (todo lo disponible en streaming, series, peliculas, etc) según el rating de audiencia dado (para que publico fue clasificada la pelicula). La función debe llamarse get_contents(rating) y debe devolver el numero total de contenido con ese rating de audiencias.

In [69]:
#esta funciona en api
def getcontents(rating):
    # Contar cuántas veces aparece cada rating de audiencia
    rating_counts = df1['clasificacion'].value_counts()
    
    # Filtrar el DataFrame por el rating de audiencia deseado
    filtered_df = df1[df1['clasificacion'] == rating]
    
    # Contar cuántas filas quedan
    num_contents = len(filtered_df)
    
    # Devolver el número total de contenido con ese rating de audiencia
    return num_contents

In [70]:
getcontents('g')

1269

In [ ]:
def get_contents(rating):
    # Obtener la cantidad de contenidos/productos por rating de audiencia
    count_by_rating = df1['clasificacion'].value_counts()
    
    # Obtener la cantidad correspondiente al rating especificado en la función
    count = count_by_rating[rating]
    
    return count

In [ ]:
d = get_contents('g')
d

1269

corrí todos los códigos, no sabia que debia dejarlos asi, le pregunte al coordinador Pablo Romero antes. hoy viernes 21 de abril, para no crear confición ya que cumpli con la fecha de entrega en tiempo, pero no la forma indicada.Saludos cordiales.